<div class="container red center-align"> <h5>Itens Fundue de Queijo</h5></div>

<div class="container">
    <ul class="collection" >
        <li class="collection-item">
              <div>
                  Brócolis
                  <a href="#!" class="secondary-content"><i class="material-icons">add_box</i></a>
              </div>
        </li>
        <li class="divider" tabindex="-1"></li>
        <li class="collection-item">
              <div>
                  Brócolis
                  <a href="#!" class="secondary-content"><i class="material-icons">add_box</i></a>
              </div>
        </li>
    </ul>
</div>