<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot Pot</title>
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"> 
    {% endassets %}
</head>
<body>
    
    <div class="sabor card-panel red"> Escolha os sabores</div>

    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous">
    </script>
    {% assets "main_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>